@model List<My_First_MVC_App.Models.Recipient>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0" />
    <title>Time</title>
    <link rel="stylesheet" href="~/StyleSheet.css" type="text/css" />
</head>
<body>
    <header>
        <div>
            <p><b>Person</b> <em>of the</em> <b>Year</b></p>
            <img src="~/TIME.png" />
        </div>
        <hr />
    </header>

    <main>

        <form method="post">
            <label for="begYear">
                <input maxlength="4" name="begYear" placeholder="Beginning Year" />
            </label>
            <label for="endYear">
                <input maxlength="4" name="endYear" placeholder="Ending Year" />
            </label>
            <button type="submit">Submit</button>
        </form>

    </main>
</body>

</html>